<!DOCTYPE html>
<html>
<head>
<style>

.helptext{
  visibility: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
<h2 style="color: #2874A6;">Add a new sighting</h2>
<a style="color: #2e6c80;" href="/sightings/" class="next">Click to discard and return to menu</a>
<p>
<form action="/sightings/add/" method="post">
        {% csrf_token %}
	<table border="1">
        {{ form.as_p }}
        </table>
	<br>
        <input type="submit"  value="Submit">
</form>
</p>
</body>
</html>
