<ul>
        <li>Total number of birds:      {{total_number}}</li>
        <li> </li>
        <li>Percentage of morning sighting:     {{pct_am}}%</li>
        <li>Percentage of afternoon sighting:   {{pct_pm}}%</li>
        <li> </li>
        <li>Percentage of black birds:          {{pct_black}}%</li>
        <li>Percentage of gray birds:           {{pct_gray}}%</li>

        <li>Percentage of cinnamon birds:       {{pct_cinnamon}}%</li>
        <li> </li>
        <li>Percentage of adults birds:         {{pct_adult}}%</li>
        <li>Percentage of juvenile birds:       {{pct_juvenile}}%</li>
        <li> </li>
        <li>Percentage of on the ground:        {{pct_plane}}%</li>
        <li>Percentage of above ground:         {{pct_above}}%</li>
</ul>
